<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookspot.app.vendor"
    android:versionCode="1"
    android:versionName="1.1.1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="BookSpot Business"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Extra"></activity>
        <activity android:name=".Requests" />
        <activity android:name=".Notifications" />
        <activity android:name=".ViewYourRatings" />
        <activity android:name=".CustomerData" />
        <activity android:name=".ManageQueue" />
        <activity android:name=".ProfileSettings" />
        <activity android:name=".Menu" />
        <activity android:name=".FirstTime" />
        <activity android:name=".Confirmation" />
        <activity android:name=".Categories" />
        <activity android:name=".Service" />
        <activity android:name=".AddBusiness" />
        <activity android:name=".Verification" />
        <activity android:name=".Register" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>